{% extends 'devoloper/base.html' %}
{% load static %}
{% block title %}Последние вакансии{% endblock %}
{% block content %}
    <h2 class="page-content__title content-vacancy__title">Последние вакансии</h2>
    <div class="content-vacancy__row">
                                        <div class="content-vacancy__item">
                                            <h3 id="vacancyName">Название вакансии</h3>
                                            <p id="vacancyInfo">Описание - Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic provident blanditiis, quaerat minus dolore ipsum!</p>
                                            <p id="vacancySkills">Навыки - lorem, ipsum, dolor</p>
                                            <p id="vacancyCompany">Название компании</p>
                                            <p id="vacancySalary">Зарплата</p>
                                            <p id="vacancyRegion">Регион</p>
                                            <p id="vacancyDate">Дата публикации</p>
                                        </div>
                                        <div class="content-vacancy__item">
                                            <h3 id="vacancyName">Название вакансии</h3>
                                            <p id="vacancyInfo">Описание - Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic provident blanditiis, quaerat minus dolore ipsum!</p>
                                            <p id="vacancySkills">Навыки - lorem, ipsum, dolor</p>
                                            <p id="vacancyCompany">Название компании</p>
                                            <p id="vacancySalary">Зарплата</p>
                                            <p id="vacancyRegion">Регион</p>
                                            <p id="vacancyDate">Дата публикации</p>
                                        </div>
                                        <div class="content-vacancy__item">
                                            <h3 id="vacancyName">Название вакансии</h3>
                                            <p id="vacancyInfo">Описание - Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic provident blanditiis, quaerat minus dolore ipsum!</p>
                                            <p id="vacancySkills">Навыки - lorem, ipsum, dolor</p>
                                            <p id="vacancyCompany">Название компании</p>
                                            <p id="vacancySalary">Зарплата</p>
                                            <p id="vacancyRegion">Регион</p>
                                            <p id="vacancyDate">Дата публикации</p>
                                        </div>
                                        <div class="content-vacancy__item">
                                            <h3 id="vacancyName">Название вакансии</h3>
                                            <p id="vacancyInfo">Описание - Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic provident blanditiis, quaerat minus dolore ipsum!</p>
                                            <p id="vacancySkills">Навыки - lorem, ipsum, dolor</p>
                                            <p id="vacancyCompany">Название компании</p>
                                            <p id="vacancySalary">Зарплата</p>
                                            <p id="vacancyRegion">Регион</p>
                                            <p id="vacancyDate">Дата публикации</p>
                                        </div>
                                        <div class="content-vacancy__item">
                                            <h3 id="vacancyName">Название вакансии</h3>
                                            <p id="vacancyInfo">Описание - Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic provident blanditiis, quaerat minus dolore ipsum!</p>
                                            <p id="vacancySkills">Навыки - lorem, ipsum, dolor</p>
                                            <p id="vacancyCompany">Название компании</p>
                                            <p id="vacancySalary">Зарплата</p>
                                            <p id="vacancyRegion">Регион</p>
                                            <p id="vacancyDate">Дата публикации</p>
                                        </div>
                                    </div>
{% endblock %}