{% extends 'devoloper/base.html' %}
{% load static %}
{% block title %}Навыки{% endblock %}
{% block intro %}
<section class="page-intro">
    <div class="container">
        <div class="page-intro__row">
            <h1>Навыки</h1>
        </div>
    </div>
    <div class="page-intro__bg">
        <div class="container">
            <div class="page-intro__img">
                <img src="@img/skills/intro.jpg" alt="intro">
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block content %}
<h2 class="page-content__title content-skills__title">ТОП-10 навыков по годам</h2>
<div id="skill" class="content-skills__skill">SQL</div>
<div id="skill" class="content-skills__skill">SQL</div>
<div id="skill" class="content-skills__skill">SQL</div>
<div id="skill" class="content-skills__skill">SQL</div>
<div id="skill" class="content-skills__skill">SQL</div>
<div id="skill" class="content-skills__skill">SQL</div>
<div id="skill" class="content-skills__skill">SQL</div>
<div id="skill" class="content-skills__skill">SQL</div>
<div id="skill" class="content-skills__skill">SQL</div>
<div id="skill" class="content-skills__skill">SQL</div>
{% endblock %}